.col {
  margin-bottom: 40px;
}

.otherDays {
  text-align: center;
  font-family: cursive;
}

.otherDaysWeather {
  font-size: smaller;
  color: gray;
}

.otherDaysWeatherDegree {
  color: gray;
}

.div {
  position: relative;
  display: inline;
}

.apiErrorOtherDays {
  background-color: blue;
}
