.col {
  margin-bottom: 40px;
}

.otherDays {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
.otherDaysWeather {
  font-size: smaller;
  color: gray;
}

.otherDaysWeatherDegree {
  color: gray;
}

.darkk {
  background-color: #202327;
  border-radius: 5px;
}

.lightt {
  background-color: #fff;
  border-radius: 5px;
}
