.locationInput {
  height: 40px;
  margin-right: 0.5rem;
  border-radius: 10px;
  width: 20rem;
  border: none;
  margin-bottom: 10px;
  margin-top: -10px;
  box-shadow: 5px 5px 4px #888888;
}

.col {
  margin-bottom: 5px;
}

.button {
  border-radius: 10px;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
