.box1 {
  height: 200px;
  background-color: white;
  margin-top: 10px;
  box-shadow: 5px 5px 4px #a59696be;
  margin-bottom: 10px;
  margin-bottom: -10px;
}

.box1Dark {
  height: 200px;
  background-color: #202327;
  margin-top: 10px;
  box-shadow: 5px 5px 4px #a59696be;
  margin-bottom: 10px;
  margin-bottom: -10px;
}

h4 {
  font-family: "Times New Roman", Times, serif;
  padding-top: 10px;
}

.hour {
  font-family: "Times New Roman", Times, serif;
  font-size: small;
}

.col {
  margin-bottom: 40px;
}

.currentDayIcon {
  height: 125px;
  width: 125px;
  margin-top: -35px;
}

.box2 {
  background-color: #fff;
  height: 200px;
  box-shadow: 5px 5px 4px #888888;
  margin-bottom: -10px;
}
.box2Dark {
  background-color: #202327;
  height: 200px;
  box-shadow: 5px 5px 4px #888888;
  margin-bottom: -10px;
}

.currentDaySituation {
  color: gray;
  font-family: "Times New Roman", Times, serif;
}

.currentDayColor {
  color: black;
  margin-right: 5px;
}

.currentDayColorDark {
  color: white;
  margin-right: 5px;
}

.sunriseBox {
  height: 50px;
  width: 50px;
  display: inline-block;
  margin-bottom: 5px;
  margin-left: -10px;
}

.sunriseFont {
  font-family: "Times New Roman", Times, serif;
  margin-right: 25px;
  font-size: small;
}

.sunsetBox {
  height: 50px;
  width: 50px;
  display: inline-block;
  margin-bottom: 5px;
}

.sunsetFont {
  font-family: "Times New Roman", Times, serif;
  margin-top: -20px;
  font-size: small;
}

.currentTemp {
  font-weight: 900;
  color: rgb(105, 105, 105);
}

.apiError {
  margin-left: -7px;
  margin-bottom: 50px;
}
.backgroundCurrentDay {
  background-color: red;
}

.alert {
  text-align: center;
}
