.box1 {
  height: 200px;
  background-color: white;
  margin-top: 10px;
  box-shadow: 5px 5px 4px #a59696be;
  margin-bottom: 10px;
  margin-bottom: -10px;
}

.box1Dark {
  height: 200px;
  background-color: #202327;
  margin-top: 10px;
  box-shadow: 5px 5px 4px #a59696be;
  margin-bottom: 10px;
  margin-bottom: -10px;
}

h4 {
  font-family: cursive;
}

.hour {
  font-family: cursive;
  font-size: small;
}

.col {
  margin-bottom: 40px;
}

.currentDayIcon {
  height: 125px;
  width: 125px;
  margin-top: -20px;
}

.box2 {
  background-color: #fff;
  height: 200px;
  box-shadow: 5px 5px 4px #888888;
  margin-bottom: -10px;
}
.box2Dark {
  background-color: #202327;
  height: 200px;
  box-shadow: 5px 5px 4px #888888;
  margin-bottom: -10px;
}

.currentDaySituation {
  color: gray;
  font-family: cursive;
}

.currentDayColor {
  color: black;
  margin-right: 5px;
}

.currentDayColorDark {
  color: white;
  margin-right: 5px;
}

.sunriseBox {
  height: 50px;
  width: 50px;
  display: inline-block;
  margin-bottom: 5px;
  margin-left: -10px;
}

.sunriseFont {
  font-family: cursive;
  margin-right: 25px;
  font-size: small;
}

.sunsetBox {
  height: 50px;
  width: 50px;
  display: inline-block;
  margin-bottom: 5px;
}

.sunsetFont {
  font-family: cursive;
  margin-top: -20px;
  font-size: small;
}

.currentTemp {
  font-weight: 900;
  color: rgb(105, 105, 105);
}

.apiError {
  font-weight: bold;
  font-size: larger;
  color: red;
  text-align: center;
  background-color: #ebebeb;
  height: 79.3vh;
  width: 750px;
  margin-left: 360px;

  /* bg-red-500 
  flex flex-wrap content-center text-gray-100 justify-center h-10 rounded-lg w-1/2 container mx-auto text-center text-sm font-bold mt-4 mb-2" */
}

.backgroundCurrentDay {
  background-color: red;
}
