.mainTitleStyles {
  padding: 0.75rem;
  text-align: center;
  font-weight: 900;
  font-size: 2rem;
  margin-bottom: -30px;
}

.weather {
  font-weight: 100;
}

.btnTheme {
  background: transparent;
  position: relative;
  margin-top: 15px;
  margin-bottom: 10px;
}
