.mainTitleStyles {
  padding: 1.5rem;
  text-align: center;
  font-weight: 900;
  font-size: 2rem;
}

.weather {
  font-weight: 100;
}

.btnTheme {
  background: transparent;
  position: relative;
  margin-top: 30px;
  margin-bottom: 10px;
}
