.footerText {
  color: gray;
  margin-top: -40px;
  font-size: medium;
  font-family: cursive, Rockwell, Tahoma, "Times New Roman", Times, serif;
}

.footerText:hover {
  cursor: pointer;
  transform: scale(1.1);
}

a:hover {
  color: #edcc00;
}

i:hover {
  color: #edcc00;
}

.icons {
  float: left;
  margin-right: 55px;
  margin-top: -7px;
  margin-bottom: 10px;
}

.icons:hover {
  cursor: pointer;
  transform: scale(1.1);
}
