.footerText {
  color: gray;
  text-align: center;
  font-size: medium;
  font-family: "Times New Roman", Times, serif;
  margin-top: -40px;
}

.footerText:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* a:hover {
  color: blue;
}

i:hover {
  color: red;
} */

.icons {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto auto;
  margin-bottom: 5px;
}

.icons:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.container {
  height: 62.1vh;
}
